
body {
    display: flex;
    flex-direction: column;
    margin: auto;
}



.header {
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2937;
  padding-left: 10%;
  padding-right: 10%;

}

a {
  text-decoration: none;
  color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    font-size: 48px;
    font-weight: 800;
    color:  white;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;

}





#signup {
    background-color: #3882F6;
    border-radius: 12px;
    color: white;
    padding: 10px 32px;
    font-weight: bold;
    font-size: 18px;

}

.content {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
  }

  #stockImage {
    width: 100%;
  }
  
  .placeholder {
    display: flex;
    background-color: gray;
    flex: 1;
  }

  .placeholderText{
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 12px;
  }  

  .left {
    flex: 1;
    align-self: center;
  }

  .info {
    background-color: white;
    display: flex;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.title {
    padding-top: 5%;
    font: #1f2937;
    font-size: 36px;
    font-weight: 800;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.square {
  flex-shrink: 1;
  height: 150px;
  width: 150px;
  background-color: white;
  border: #3882F6;
  border-style: solid;
  border-width: 3px;
  border-radius: 10%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E5E7EB;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  padding: 5% 20%;
  color: #1F2937;
}

.author {
  align-self: flex-end;
  font-weight: 800;
  font-style: normal;
}

.action {
  display: flex;
  background: #3882F6;
  justify-content: space-between;
  border-radius: 10px;
  margin: 5% 10%;
  color: white;
  font-weight: 800;
  font-size: 24px;
  padding: 3% 5%;
}

.small-text {
  font-weight: normal;
  font-size: 20px;
  color: #E5E7EB;
}

#bottomButton {
  background-color:#3882F6;
  border-color: white;
  border-width: thick;
  border-radius: 12px;
  color: white;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  color:  white;
  padding: 2%;
}